insmod all_video

# Example: Use NFS and squashfs as root
linux (http,202.38.93.94)/boot/bin/liims/liims2_unstable/vmlinuz vga=871 nfsroot=202.38.93.94:/nfsroot/liims/liims2_unstable ip=:::::eth0:dhcp boot=nfs squashfs=root.sfs version=liims2_unstable
initrd (http,202.38.93.94)/boot/bin/liims/liims2_unstable/initrd.img
boot

# Example: Directly use NFS as root
linux (http,202.38.93.94)/boot/bin/liims/liims2_unstable/vmlinuz vga=871 nfsroot=202.38.93.94:/nfsroot/liims/liims2_unstable ip=:::::eth0:dhcp boot=nfs version=liims2_unstable
initrd (http,202.38.93.94)/boot/bin/liims/liims2_unstable/initrd.img
boot
