default liims 
prompt 0

LABEL  liims
KERNEL http://pxe.ustc.edu.cn/boot/bin/liims/liims141230/vmlinuz
INITRD http://pxe.ustc.edu.cn/boot/bin/liims/liims141230/initrd.img
APPEND nfsserver=[2001:da8:d800:931::94] nfsserver2=202.38.93.94 nfspath=/nfsroot/liims/liims141230 squashfs=liims141230.sfs

# directly use NFS as root
LABEL  liims_nfs
KERNEL http://pxe.ustc.edu.cn/boot/bin/live/liims/unstable/boot/vmlinuz-linux
INITRD http://pxe.ustc.edu.cn/boot/bin/live/liims/unstable/boot/initramfs-linux.img
APPEND nfsserver=[2001:da8:d800:931::94] nfsserver2=202.38.93.94 nfspath=/nfsroot/liims/unstable/

