[Unit]
Description=LIIMS chameleon: change midori settings by boot cmdline
Before=midori.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/chameleon.sh
RemainAfterExit=yes
