[Unit]
Description=firefox

[Service]
EnvironmentFile=%h/.config/systemd/XENV
ExecStart=/usr/bin/firefox
KillSignal=SIGKILL
SuccessExitStatus=SIGKILL
Restart=always
RestartSec=2
