[Unit]
Description=Do heartbeat periodically

[Timer]
OnBootSec=25
OnUnitActiveSec=25
AccuracySec=1
RandomizedDelaySec=5

[Install]
WantedBy=timers.target
