[Unit]
Description=LIIMS heartbeat
PartOf=graphical-session.target
Requisite=graphical-session.target
After=liims-browser.service fcitx5.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/heartbeat.sh
