[Unit]
Description=Do heartbeat periodically
PartOf=graphical-session.target

[Timer]
OnActiveSec=25
OnUnitActiveSec=25
AccuracySec=1
RandomizedDelaySec=5

[Install]
WantedBy=graphical-session.target
