[Unit]
Description=LIIMS heartbeat
Requires=fcitx.service midori.service
After=fcitx.service midori.service

[Service]
Type=oneshot
ExecStart=/liims/bin/heartbeat.sh
