[Unit]
Description=Midori

[Service]
EnvironmentFile=%h/.config/systemd/XENV
ExecStart=/usr/bin/midori
KillSignal=SIGKILL
SuccessExitStatus=SIGKILL
Restart=always
RestartSec=2
