[Unit]
Description=Sogou pinyin
Requires=fcitx.service
After=fcitx.service

[Service]
#Type=forking
EnvironmentFile=%h/.config/systemd/XENV
ExecStart=/usr/bin/sogou-qimpanel -D
KillSignal=SIGKILL
SuccessExitStatus=SIGKILL
Restart=always
RestartSec=5
#PIDFile=/tmp/sogou-qimpanel:0.pid

